/* Performance optimizations */
* {
	box-sizing: border-box;
}

body {
	font-family:
		"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif !important;
	padding-top: 60px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
	background-color: #c6dbad !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
}

.container {
	margin-top: 50px;
}

/* Optimize image rendering */
img {
	max-width: 100%;
	height: auto;
}

.logo-img {
	image-rendering: crisp-edges;
}

.brand-logo {
	max-width: 200px !important;
	width: auto;
	height: auto;
	padding-right: 40px;
}

#newSearch {
	justify-content: center;
}
